@import '_config.scss';

@include mediaSmall {
  .header {
    $self: &;
    &__navigation {
      position: fixed;
      width: 100%;
      top: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 auto;
      background-color: $primary-color;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      z-index: 100;

      &--hide {
        transform: translate(50%, -100%);
      }

      &-list {
        max-width: 400px;
        &-item {
          margin: 5px;

          &:hover i {
            transform: scale(1);
            opacity: 1;
          }

          &:hover .header__navigation-list-item-title {
            opacity: 0;
          }

          i {
            font-size: 1.5rem;
          }

          &-title {
            font-size: 0.9rem;
          }
        }
      }
    }

    &__menu-btn {
      display: flex;
      z-index: 100;
    }

    &__title {
      width: 85%;
      text-align: center;

      &-upper {
        font-size: 1.8rem;
      }

      &-lower {
        font-size: 1.1rem;
      }
    }

    &__request {
      z-index: 0;

      &-text {
        font-size: 1rem;

        &--mark {
          font-size: 1.2rem;
        }
      }
    }
  }

  .home {
    &__title {
      margin-top: 40px;
      font-size: 2rem;
    }
  }

  .about {
    &__container {
      flex-wrap: wrap;
      text-align: center;

      &-image {
        order: 2;
      }

      &-text {
        order: 1;
      }
    }
  }

  .adoption {
    padding: 10px 20px 20px;
    &__title {
      margin-top: 0px;
    }

    &__container {
      grid-template-columns: 1fr;
      &-card {
        height: 250px;
        width: 250px;
      }
    }
  }

  .volunteering {
    &__gallery {
      &-picture {
        max-height: 250px;
      }
    }
  }

  .contact {
    &__map {
      height: 300px;
      width: 300px;
      margin-top: 20px;

      iframe {
        height: 300px;
      }
    }
  }
}

@include mediaMedium {
  .header {
    &__navigation {
      width: 100%;
      max-width: 700px;
      top: 0;
      right: 50%;
      transform: translate(50%, 0);

      &-list {
        &-item {
          margin: 5px;

          &-link {
            i {
              font-size: 1.5rem;
            }
          }

          &-title {
            font-size: 1.1rem;
          }
        }
      }
    }

    &__title {
      &-upper {
        font-size: 2.2rem;
        letter-spacing: 1px;
      }

      &-lower {
        font-size: 1.4rem;
      }
    }
  }

  .adoption {
    &__container {
      grid-template-columns: repeat(2, 1fr);

      &-card {
        height: 230px;
        width: 230px;
      }
    }
  }

  @include mediaBig {
    .header {
      &__title {
        &-upper {
          font-size: 2.7rem;
          letter-spacing: 1px;
        }
      }
    }
  }

  @include mediaLarge {
    .header {
      &__navigation {
        max-width: 700px;
        right: 50%;
        transform: translateX(50%);
      }

      &__title {
        margin-top: 75px;
      }
    }

    .adoption {
      &__container {
        grid-template-columns: repeat(3, 1fr);

        &-card {
          height: 300px;
          width: 300px;
        }
      }
    }
  }
}

@include mediaSmallLandscape {
  .home {
    height: 130px;
  }

  .footer {
    background-color: darken($quaternary-color, 10%);
  }
}
