@import '_config.scss';

.home {
    $self:&;
    max-width: none;
    height: 100%;
    width: 100%;
    padding: 20px;
    position: relative;
    background-color: $primary-color;

    &__title {
      margin-top: 150px;
      font-size: 3rem;
      color: white;
      text-align: center;
    }

    &__welcome {
      position: fixed;
      left: 0;
      bottom: 0;
      right: 0;
      height: 30%;
      z-index: 3;
      transform: translateY(100%);
      animation: showDog .8s ease-out forwards;

      &-dogtail {
        position: absolute;
        left: 45%;
        bottom: 13vh;
        opacity: .6;
        transform-origin: bottom center;
        animation: wagTail .3s linear infinite;
        animation-direction: alternate;

        &-image {
          height: 25vw;
          max-height: 250px;
        }
      }

      &-dog {
        position: absolute;
        left: 50%;
        bottom: -5px;
        width: 100%;
        max-width: 800px;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;

        &-image {
          max-height: 50vh;
          max-width: 100%;
        }
      }
    }
}

@keyframes wagTail {
    0% {
      transform: rotate(45deg) skew(-15deg, -15deg);
    }
  
    50% {
      transform: rotate(0) skewX(0);
    }
  
    100% {
      transform: rotate(-45deg) skew(15deg, 15deg);
    }
  }

@keyframes showDog {
    0% {
      transform: translateY(100%);
    }
  
    100% {
      transform: translateY(0);
    }
  }