@import '_config.scss';

.volunteering {
    $self:&;
    padding: 20px;
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    text-align: justify;
  
    &__title {
      margin: 10px 0 20px 0;
      transform: translateY(1000px);
      animation: slide-up 1s forwards;
    }

    &__text {
      margin-bottom: 20px;
      transform: translateY(1000px);
      animation: slide-up 1s forwards;
    }

    &__gallery {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 10px;
      z-index: 2;
      transform: translateY(1000px);
      animation: slide-up 1.5s forwards;

      &-picture {
        max-height: 300px;
        margin: 10px;
        border-radius: 20px;
      }
    }
  }

  @import '_mediaq';

  @keyframes slide-up {
    100% {
      transform: translateY(0);
    }
  }